body{
    background-color: navy;
    font-family: "Georgia", Times, serif;
    color: white;
    text-align: center;
    font-size: 20pt;
    width: 400px;
    padding-bottom: 15px
}
button{
    background-color: white;
    font: bold;
    font-family: "Georgia", Times, serif;
    color: black;
    text-align: center;
    font-size: 14pt;
    width: 300px;
    height: 50px;
}